:root {
    --gradient-img: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    --main-color: #dfe793;
    --second-color: #b18fe4;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
}
body::before {
    content: "";

    background: var(--gradient-img);
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;

    position: fixed;

    z-index: -1;
}
a {
    text-decoration: none;
    letter-spacing: 1.5;
}
h1, 
h2,
h3 {
    font-weight: inherit;
    font-size: inherit;
}
html, 
body {
    scroll-behavior: smooth;
    height: 100vh;
    line-height: 1;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    grid-template-columns: auto 0px;
}
h1 {
    font-size: 36px;
    margin-top: 30px;
}
h2 {
    font-size: 60px;
    margin: auto 0px;
}
h3 {
    font-size: 24px;
    opacity: 0.7;
}
p {
    background-color: #dfe793;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin: 10px;
    
}
.top {
--offset: 50px;

    place-self:end;
    position:sticky;
    bottom:20px;
    margin-top: calc(100vh + var(--offset));

    width: 25px;
    aspect-ratio: 1;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid rgb(78, 76, 76);
    border-right: 5px solid rgb(78, 76, 76);
}
#SMtext {
    display: flex;
    margin: 30px;
}

.about-H1 {
    font-weight: bolder;
    font-size: 50px;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    position: relative;
    padding: 30px;
    text-align: left;
}
#homeLink:hover {
    transition: all 2s ease 0s;
    top: 2px;
    box-shadow: 2px 5px 5px rgb(#b18fe4);
}
.main {
    padding: 30px;
    text-align: center;
    
}
.footer {

    text-align: center;
    
}
#contact {
    padding: 20px;
}
#btns {
    display: flex;
    justify-content: center;
    padding: 40px;
    letter-spacing: 1.5px;
}
.contact-BTN {
    position: relative;
    margin: 20px;
    padding: 20px 15px;
    color: var(--main-color);
    background-color: var(--second-color);
    box-shadow: var(--box-shadow);
    transition: all 2s ease 0s;
}
.contact-BTN:hover {
    top: 2px;
    background: var(--main-color);
    color: var(--second-color);
    box-shadow: 2px 5px 5px rgb(#b18fe4);
    transition: all 2s ease 0s;
}
.about-BTN {
    position: relative;
    margin: 20px;
    padding: 20px 15px;
    color: var(--second-color);
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    transition: all 2s ease 0s;
}
.about-BTN:hover {
    top: 2px;
    background: var(--second-color);
    color: var(--main-color);
    box-shadow: 2px 5px 5px rgb(#b18fe4);
    transition: all 2s ease 0s;
}